.sidebar--container {
  width: 30%;
  padding: 1rem;
  border-right: 2px solid var(--gray-200);
  height: calc(100vh - 4rem);
}

.sidebar--header p {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--text-primary-color-50);
  margin-bottom: 1.5rem;
}

@media (max-width: 1440px) {
  .sidebar--container {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid var(--gray-200);
    height: auto;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
  }
}